body {
  font-family: 'Helvetica';
  background-color:black;
  color: white;
  font-style: italic;
}

p {
  font-family: 'Helvetica';
  color: white;

}

h2 {
  font-family: 'Helvetica';
  color: white;

}

li {
  font-family: 'Helvetica';
  color: white;

}

input stop , begin {

  font-style: 'Helvetica';
  background-color: white;
  border-radius: 5px;
  font-size: 15px;
}

tr {
height: 30px;
width: 100px;
}

tr td {
  opacity: 0%;
  padding:
}

#table {
  width: 420px;
  height: 300px;
}

.dots {
  border-radius: 50%;
  background-color: white;
  display: table;
  height: 16px;
  width: 14px;

}
