body {
background-color: black;
/*color: white;*/
display: block;
width: 1200px;
height: 492px;
margin: 0 auto;
text-align: center;
font-family: monospace;

}

body:hover {
transition: background-color 30s ease;
background-color: white;
}

h2 {
font-size: 30px;
}

#title {
display: none;
opacity: 1;
font-size: 30px;
color: white;
top: 10px;
position: relative;
}

#audioSlider{
position: absolute;
bottom: -269px;
right: 100px;
margin-right: -34px;
}

h3 {
display: none;
opacity: 1;
font-size: 20px;
color: black;
}

h3: {
visibility: hidden;
transition: 3s;
}

#container {
width: 516px;
height: 435px;
display: none;
background-color:rgb(124, 124, 124);
margin: 0 auto;
border-radius: 20px;
position: relative;
top: 62px;
opacity: 1;

}

#container:hover {
transition: background-color 30s ease;
background-color: white;
}

.squares{
width: 60px;
height: 60px;
background-color: black;
float:left;
display: inline-block;
margin:0 8px;
border-radius: 2px;

-webkit-transition: all .5s;
-moz-transition: all .5s;
transition: all .5s;
}

.squareRow{
width: 100%;
height: 60px;
position: relative;
display: block;
}

.dotRow{
width: 100%;
height: 15px;
position: relative;
display: block;
margin: 0;
}

.dotStyle{
width: 10px;
height: 15px;
background-color: white;
border-radius: 50%;
position: relative;
float: left;
display: inline-block;
margin: 0px 32px;
margin-right: 28px;
right: -28px;
border-color: rgba(0, 255, 255, 0);
top: -5%;
visibility: visible;
-webkit-transition: all 1s;
-moz-transition: all 1s;
transition: all 1s;
}

.dotStyle:hover {
background-color:black;
visibility: hidden;
}

.squares:hover {
background-color:white;
}

#topField{
width: 416px;
height: 172px;

}


#scoreboard {
color: white;
position: relative;
right: 12px;
top: -9px;
}

#timer{
color: white;
position: relative;
left: -346px;
top: 114px;
}

#score{
border-radius: 100%;
border-color: white;
height: 160%;
/* text-align: center; */
left: 41%;
top: 0px;
position: relative;
width: 13%;
height: 50px;
}

#countdownHolder {
border-radius: 100%;
border-color: white;
height: 160%;
/* text-align: center; */
left: -43%;
top: 121px;
position: relative;
width: 13%;
height: 50px;
}

div.squares {
background-color: black;
}

input[type='text'] {
font-size: 24px;
font-family: monospace;
}

audio {
  position: relative;
  top: 223px;
  right: -3px;
  visibility: visible;
}

#begin {
position: relative;
left: 0;
top: -21px;
/* text-align: center; */
font-size: 11pt;
color: black;
background-color: white;
/* padding: 5px 15px 5px 15px; */
border-radius: 34px;
font-family: monospace;
}

#reset {
position: relative;
left: 0;
top: 11px;
font-size: 11pt;
color: black;
background-color: white;
border-radius: 34px;
font-family: monospace;
}

#instructions {
width: 516px;
height: 100px;
text-align: center;
color:white;
position: relative;
top: 34px;
}

#instructionsTitle {
color:white;
visibility: hidden;

}

#square0, #square7, #square14, #square21, #square28, #square35 {
margin: 0 8px 0 0px;
}

#square6, #square13, #square20, #square27, #square34, #square41 {
margin: 0px 0px 0px 8px;
}

:focus {
  outline-color: black;
  /*outline-style: none;*/
  outline-style: inset;
  opacity: .5;
  outline-width: thick;
}
